// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.7\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "logLevel": "OFF",
  "autoMapPoll": "2500",
  "cacheAnimalsData": "5000",
  "cacheMobsData": "5000",
  "cachePlayerData": "1000",
  "cachePlayersData": "5000",
  "cacheVillagersData": "5000",
  "announceMod": "false",
  "checkUpdates": "false",
  "recordCacheStats": "false",
  "browserPoll": "2500",
  "themeName": "Purist",
  "caveIgnoreGlass": "false",
  "mapBathymetry": "true",
  "mapTopography": "true",
  "mapTransparency": "true",
  "mapCaveLighting": "true",
  "mapAntialiasing": "true",
  "mapPlantShadows": "false",
  "mapPlants": "true",
  "mapCrops": "true",
  "mapBlendGrass": "false",
  "mapBlendFoliage": "false",
  "mapBlendWater": "false",
  "mapSurfaceAboveCaves": "false",
  "renderDistanceCaveMax": "8",
  "renderDistanceSurfaceMax": "8",
  "renderDelay": "5",
  "revealShape": "Circle",
  "alwaysMapCaves": "false",
  "alwaysMapSurface": "false",
  "tileHighDisplayQuality": "false",
  "maxAnimalsData": "16",
  "maxMobsData": "16",
  "maxPlayersData": "16",
  "maxVillagersData": "16",
  "hideSneakingEntities": "true",
  "radarLateralDistance": "64",
  "radarVerticalDistance": "16",
  "tileRenderType": "1",
  "mappingEnabled": "true",
  "renderOverlayEventTypeName": "ALL",
  "renderOverlayPreEvent": "true",
  "optionsManagerViewed": "5.7.1",
  "splashViewed": "5.7.1",
  "gridSpecs": {
    "day": "Dots,#000000,0.5,45,44",
    "night": "Dots,#808080,0.5,-1,-1",
    "underground": "Dots,#808080,0.5,-1,-1"
  },
  "colorPassive": "#bbbbbb",
  "colorHostile": "#ff0000",
  "colorPet": "#0077ff",
  "colorVillager": "#88e188",
  "colorPlayer": "#ffffff",
  "colorSelf": "#0000ff",
  "verboseColorPalette": "false",
  "configVersion": "5.7.1"
}