# Configuration file

##########################################################################################################
# discord
#--------------------------------------------------------------------------------------------------------#
# General Discord API app settings
##########################################################################################################

discord {
    # The ID of the Discord API application created at https://discordapp.com/developers/applications. [default: ]
    S:app_id=805858375563870318

    # The alt text of the main Discord RPC image. [default: ]
    S:main_image_alt=Evolved Technics
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# Miscellaneous settings
##########################################################################################################

misc {
    # ID of the dimension and the display name separated with a colon (':'). [default: [overworld:Overworld], [the_nether:The Nether], [the_end:The End]]
    S:dimension_names <
        overworld:Overworld Dimension
        the_nether:The Nether
        the_end:The End
        private_pockets:Personal Pocket Dimension
        dungeon_pockets:Dungeon Pocket Dimension
        public_pockets:Pocket Dimension
        limbo:The Limbo
        Mystcraft:Mystcraft Dimension
     >
}


